@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-image:linear-gradient(to right, rgba(240, 7, 7, 0.3),rgba(11, 11, 236, 0.3)), url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main #child{
    background-color: white;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#child header figure img{
    border-radius: 100%;
    margin: 40px 0px 20px;
    border: 10px solid white;
    position: relative;
    z-index: 1;

}

#child main h1{
    margin-bottom: 25px;
    font-weight: lighter;
    font-size: 28px;
    letter-spacing: 5px;
    color: #313f47;
}

#child main p{
    letter-spacing: 3px;
    margin-bottom: 25px;
    color: #313f47;
}

#child footer{
    /* border: 2px solid black; */
    width: 100%;
    margin-top: 20px;
}

#child footer aside{
    /* border: 2px solid red; */
    width:80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
}

#child footer aside div{
    height: 65px;
    width: 65px;
    border: 1px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease all 0.8s;
}

#child footer aside div i{
    color: #ccc;
    font-size: 30px;
    transform: rotate(360deg);
}

#child footer aside div:hover{
    border: 1px solid crimson;
    transform: rotate(360deg);
}

#child footer aside div:hover i{
    color: crimson;
    transform: rotate(360deg);
}

section .line{
    background-color: #ccc;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 110px;
}

#child{
    position: relative;
}


